.header {
	height: 140px;
	background-color: #fff;
	padding-top: 50px ;
}
.header  img {
	padding-right: 25px ;
}
.content {
	padding-top: 65px ;
	background-color: #e5e5e5;
}
.img {
	padding-top: 35px;
	padding-bottom: 65px;
}
.txt {
	background-color: #fff;
	height: 400px;
	padding-top: 70px;
	margin-bottom: 65px;
}
text {
	text-align:right;
}
.right {
	float:  right;
}
.left{
	float: left;
}
.grean {
	color: #A9A9A9 ;
}
.infa{
	color: #000;
	padding-bottom: 85px;
	margin-bottom: 30px;
	padding-top: 50px;
	width: 715px;
	background-color: #fff;
	margin-right: -15px;
	
}
.infa2{width: 265px;
	margin-left: 100px;
background-color: #fff;
}
.pading{
	padding-left: 40px;
	padding-bottom: 20px;
}
.pading1{
	padding-left: 0px;
}
.btn-BLECK {
	background-color: #fff;
}
.container1{
margin-left: 50px;
}